* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: auto;
}

img {
  width: 100%;
}

header {
  background: #763857;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

header nav {
  text-align: right;
}

header nav a {
  text-decoration: none;
  color: #eff0b6;
  padding: 0 20px;
}

header nav a:hover {
  background: #fbeeac;
  color: #393e46;
}

h1 {
    text-align: center;
  font-size: 60px;
  padding-bottom: 30px
}

.container {
  display: grid;
  grid-template-rows: 100px minmax(calc(100vh - 170px) , 1fr) 50px;
  gap: 10px;
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

footer {
  display: flex;
  align-items: center;
  background: #8f4068;
  color: #eff0b6;
  text-align: center;
}

footer p {
  width: 100%;
}

